<h1> About </h1>
<h3> How did this site start? </h3>
<p> The idea for this site started when I participated in an externship first year. I was unsure if I wanted to proceed with computer science but I did express
my interest to my mentor. She told me an idea for a website that, if I were interested in CS, should consider building one day. As an alum, her and her friends enjoy donating to 
the college, but they wanted to see those donations go directly to the hands of students. Just as I came to college completely unpreprated for the winter, plenty of other students
find themselves in need of gear and other school supplies. Personally, I was given a pair of boots that have kept my feet warm through the winters and I really appreciated 
being thought of. And it is these donations that make a difference in our experience at college. 
Keeping this idea in the back of my head, I finally found the perfect opportunity to make it real, my software development course. We were told to come up with an individual project
and this is what I choose and built! <br>
- Christa Cochran
</p>