
<div id="home">
  <h1> Welcome to the Student Wish List Website </h1>
  <img src="https://images.unsplash.com/photo-1520082379916-7cf029de2c1f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80" 
      alt="School Supplies Pink"
      width="600"
      class="center">
  <span class="center">Photo by <a href="https://unsplash.com/@emmamatthews?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Emma Matthews Digital Content Production</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  <p> 
    As a student, you can create anonymous wish lists of supplies you need for the semester. 
    School supplies, winter gear, anything necessary! 
    Alums can then contribute directly to your needs. 
    Create an <b><%= link_to "account", signup_path %></b> to get started. 
  </p>
  <p> 
    As an alum, you can view a compiled anonymous list of what students need and directly contribute.
    Create an <b><%= link_to "account", signup_path %></b> to get started. 
  </p>
</div>