<div class="container" style="width: 100%">
<h1>My Wish List: </h1>
  
  <table class="table">
    <thead>
      <h4> School Supplies </h4>
    </thead>
    <tbody>
      <tr>
        <td style="width:60%;" colspan="5">Notebooks</td>
        <td style="width:5%;">Type:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>Normal</option>
                <option>Compositional</option>
                <option>Both</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="5">Paper</td>
        <td style="width:5%;">Type:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>College rulled</option>
                <option>Graph</option>
                <option>Both</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="5">Stationary</td>
        <td style="width:5%;">Type:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>Pens</option>
                <option>Pencils</option>
                <option>Both</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="8">Folders</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="8">Headphones</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="8">Backpack</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  <table class="table">
    <thead>
      <h4> Winter Gear </h4>
    </thead>
    <tbody>
      <tr>
        <td style="width:60%;" colspan="5">Gloves</td>
        <td style="width:5%;">Size:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="5">Winter Coat</td>
        <td style="width:5%;">Size:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>X-Small</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>X-Large</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="5">Wind Breaker</td>
        <td style="width:5%;">Size:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>X-Small</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>X-Large</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="5">Boots</td>
        <td style="width:5%;">Size:</td>
        <td style="width:20%;">
          <form>
            <div class="form-group" style="padding:0">
              <select class="form-control">
                <option>Womens 5</option>
                <option>Mens 5</option>
                <option>Womens 6</option>
                <option>Mens 6</option>
                <option>Womens 7</option>
                <option>Mens 7</option>
                <option>Womens 8</option>
                <option>Mens 8</option>
                <option>Womens 9</option>
                <option>Mens 9</option>
                <option>Womens 10</option>
                <option>Mens 10</option>
                <option>Womens 11</option>
                <option>Mens 11</option>
                <option>Womens 12</option>
                <option>Mens 12</option>
              </select>
            </div>
          </form>
        </td>
        <td style="width:10%;"> </td>
        <td style="width:5%;">Quantity:</td>
        <td style="width: 5%;">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="5" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="8">Scarves</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="8">Beanies</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <table class="table">
    <thead>
      <h4> Winter Gear </h4>
    </thead>
    <tbody>
      <tr>
        <td class="col-7" colspan="5">Gloves</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="2" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Scarves</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="2" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Beanie</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="2" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Winter Coat</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Wind Breaker</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Boots</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
    </tbody>
  </table>
  
  <form>
    <div class="form-group">
      <label>Have any further details? Write them here:</label>
      <textarea class="form-control" rows="4"></textarea>
    </div>
  </form>
  <button class="btn btn-primary">Save</button>
</div>
