<h1>My Wish List: </h1>
<div class="container" style="width: 100%">
  <table class="table">
    <thead>
      <h4> School Supplies </h4>
    </thead>
    <tbody>
      <tr>
        <td class="col-7" colspan="5">Notebooks</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Folders</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Paper</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Stationary: Mix of pens, pencils, and erasers</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Headphones</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1"value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Backpack</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <h4> Winter Gear </h4>
    </thead>
    <tbody>
      <tr>
        <td class="col-7" colspan="5">Gloves</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="2" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Scarves</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="2" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Beanie</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="2" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Winter Coat</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Wind Breaker</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
      <tr>
        <td class="col-7" colspan="5">Boots</td>
        <td class="col-3">Quantity</td>
        <td class="col-2">
          <input type="number" style="width: 50px; padding: 1px" min="0" max="1" value="0"> 
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">Save</button>
</div>

