<div class="container" style="width: 100%">
<h1>Compiled Wish List</h1>
<h5> This a complied list of all student needs in once place! </h5>
  
  <table class="table">
    <thead>
      <h4> School Supplies </h4>
    </thead>
    <tbody>
      <tr>
        <td style="width:60%;" colspan="8">Notebooks</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Normal
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          30 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
            <tr>
        <td style="width:60%;" colspan="8">Notebooks</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Compositional
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          13 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
            <tr>
        <td style="width:60%;" colspan="8">Notebooks</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Both
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          20 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Paper</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          College rulled
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          48 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Paper</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Graph
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          22 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Paper</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Both
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          30 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Paper</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Both
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          30 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Stationary</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Pens
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          35 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Stationary</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Pencils
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          30 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Stationary</td>
        <td style="width:5%;">Type:</td>
        <td style="width:10%">
          Both
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          42 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Folders</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          23 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Backpacks</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          13
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Wireless Mouses</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          5 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Headphones</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          25 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Flashdrives</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          10 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <table class="table">
    <thead>
      <h4> Winter Gear </h4>
    </thead>
    <tbody>
      <tr>
        <td style="width:60%;" colspan="8">Gloves</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%;">
          Womens Medium
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          5 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Gloves</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Mens Medium
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          5 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Winter Coats</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Womens Small
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          3
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Winter Coats</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Womens Large
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          2 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Winter Coats</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Mens Medium
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          4 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Winter Coats</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Mens Large
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          2 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Wind Breakers</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Womens Small
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          2
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Wind Breakers</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Womens Medium
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          3 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Wind Breakers</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Mens Medium
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          4 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Wind Breakers</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Mens Large
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          1 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Boots</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Womens 7
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          1 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:60%;" colspan="8">Boots</td>
        <td style="width:5%;">Size:</td>
        <td style="width:10%">
          Mens 10
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          1 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Scarves</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          17 
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td style="width:75%;" colspan="10">Beanies</td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">Requested:</td>
        <td style="width: 5%;">
          13
        </td>
        <td style="width:5%;"> </td>
        <td style="width:5%;">
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Cart" > 
          <!-- Bootstrap cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
