<header class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <ul class="nav" id="left">
        <li><%= link_to "Home", root_path %></li>
      </ul>
      <ul class="nav" id="left">
        <li><%= link_to "My List", make_wish_list_path %></li>
      </ul>
      <ul class="nav" id="left">
        <li><%= link_to "Wish Lists", wish_lists_path %></li>
      </ul>
      <ul class="nav" id="right" >
        <li><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
</header>